node_modules/
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.cache-loader
DerivedData/
dist-ssr/
*.local
